.hero {
    padding-bottom: 70px;
}


.hero-title h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    color: rgb(255, 255, 255);
}

.hero-title {
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    z-index: -1;
    background-color: rgba(216, 216, 216, 0.5);
    backdrop-filter: blur(3px);
}


.hero-logo img {
    width: 80px;
}

.hero-logo h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 30px;
}

.hero-logo a {
    text-decoration: none;
}


.hero-logo span {
    color: #3a3a3a;
    font-weight: 700;
}

@media screen and (max-width: 991px) {


    .hero {
        padding-bottom: 0px;
        padding-top: 30px;
    }

    .hero-title h1 {
        font-size: 25px;
    }

    .hero-title {
        padding-top: 30px;
        padding-bottom: 20px;

    }










}