.background-image-hero {
    background: url("https://res.cloudinary.com/dbtmrinwa/image/upload/v1697316900/t7zngvn1iwu1hdjw012o.jpg") center/cover no-repeat;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.hero {
    padding-top: 70px;
    padding-bottom: 70px;

}


.hero-title h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.hero-title {
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    z-index: 0;
    background-color: rgba(70, 70, 70, 0.5);
    backdrop-filter: blur(3px);
}

.custom-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    display: inline-block;
    background: white;
    border-radius: 50px;
    padding: 10px 40px;
    margin: 10px;
    text-decoration: none;
    color: #333;
    transition: background 0.3s ease, color 0.3s ease;
}

.custom-link:hover {
    background: rgb(124, 144, 255);
    color: white;
}

@media screen and (max-width: 991px) {
    .background-image-hero {
        background: url("https://res.cloudinary.com/dbtmrinwa/image/upload/v1697316900/t7zngvn1iwu1hdjw012o.jpg") center/cover no-repeat;
        margin-top: 150px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    .hero {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .hero-title h1 {
        font-size: 30px;
    }

    .hero-title {
        background-color: rgba(0, 0, 0, 0.0);
        backdrop-filter: blur(2px);
    }

    .custom-link {
        font-size: 18px;
        display: inline-block;
        background-color: white;
        border-radius: 50px;
        padding: 8px 30px;
        margin: 2px;
        text-decoration: none;
        color: #333;
    }










}