.about-us {
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: -5px 0px 30px rgba(146, 146, 146, 0.6);
    border-radius: 20px;
    background-color: white;
}

.about-us h3 {
    font-size: 40px;
    padding-top: 80px;
    padding-left: 30px;
    font-weight: 700;
    color: rgb(29, 29, 29);
}

.about-us p {
    font-size: 25px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(59, 59, 59);
}

.about-us img {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.about-us-img {
    padding: 0 !important;
    margin: 0 !important;
}


@media screen and (max-width: 991px) {

    .about-us h3 {
        font-size: 20px;
        padding-top: 30px;
        padding-left: 0px;
        padding-bottom: 10px;
        text-align: center;
    }

    .about-us p {
        font-size: 17px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 10px;
        text-align: center;
    }


    .about-us img {
        width: 100%;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .about-us {
        padding: 0 !important;
        margin: 0 !important
    }

}