.scrolling-words {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    /* Adjust the height as needed */
    overflow: hidden;
    margin-bottom: 40px;
}

.scrolling-word {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1s, transform 1s;
    position: absolute;
}

.scrolling-word p {
    background: linear-gradient(to right, #004f26, #359161);
    -webkit-background-clip: text;
    /* For webkit-based browsers like Chrome and Safari */
    background-clip: text;
    color: transparent;
}

.scrolling-word svg {
    width: 20px;
    margin-right: 7px;
    margin-bottom: 19px;
}

.active {
    opacity: 1;
    transform: translateY(0);
}





@media screen and (max-width: 991px) {
    .hero-title h1 {
        font-size: 35px;
    }

    .hero-title {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 500px) {
    .hero-title h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 400px) {
    .hero-title h1 {
        font-size: 24px;
    }
}

@media screen and (max-height: 680px) {
    .hero {
        padding-top: 100px;
    }
}

@media screen and (max-height: 520px) {
    .hero-title h1 {
        font-size: 28px;
    }

    .hero {
        padding-top: 160px;
    }

    .hero-title {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}