.hero-title h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.hero-title {
    border-radius: 15px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-color: rgba(216, 216, 216, 0.5);
    backdrop-filter: blur(3px);
}


.hero-logo img {
    width: 120px;
}

.hero-logo h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 30px;
}

.hero-logo a {
    text-decoration: none;
}


.hero-logo span {
    color: #3a3a3a;
    font-weight: 700;
}




@media screen and (max-width: 991px) {
    .hero-title h1 {
        font-size: 35px;
    }

    .hero-title {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 500px) {
    .hero-title h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 400px) {
    .hero-title h1 {
        font-size: 24px;
    }
}

@media screen and (max-height: 680px) {
    .hero {
        padding-top: 100px;
    }
}

@media screen and (max-height: 520px) {
    .hero-title h1 {
        font-size: 28px;
    }

    .hero {
        padding-top: 160px;
    }

    .hero-title {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}