.hero-title h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.hero-title {
    border-radius: 15px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    /* background-color: rgba(216, 216, 216, 0.5); */
    /* backdrop-filter: blur(3px); */
}


.hero-logo img {
    margin-top: 10px
}


.contact-us-form-button {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-us-form-button a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 0px;
    color: white;
    background-color: #79b1ff;
}

.hero {
    padding-top: 50px;
}

.hero-background {
    height: 100vh;
    background: linear-gradient(to bottom, #ccddfc, #ffffff 70%)
}

.hero-logo img {
    border-radius: 20px;
    width: 100%;
}

.hero-logo h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 30px;
}

.hero-logo a {
    text-decoration: none;
}


.hero-logo span {
    color: #3a3a3a;
    font-weight: 700;
}




@media screen and (max-width: 991px) {
    .hero-title h1 {
        font-size: 35px;
    }

    .hero-title {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-height: 680px) {
    .hero {
        padding-top: 100px;
    }
}

@media screen and (max-height: 520px) {
    .hero-title h1 {
        font-size: 28px;
    }

    .hero {
        padding-top: 180px;
        padding-bottom: 30px !important
    }

    .hero-title {
        padding-top: 20px;
    }

    .hero-logo img {
        margin-top: 30px !important
    }

}

@media screen and (max-width: 500px) {
    .hero {
        padding-top: 180px;
        padding-bottom: 30px !important
    }

    .hero-title h1 {
        font-size: 26px !important;
    }

    .hero-logo img {
        margin-top: 30px !important
    }
}

@media screen and (max-width: 400px) {

    .hero {
        padding-top: 180px;
    }

    .hero-title h1 {
        font-size: 26px !important
    }

    .hero-logo img {
        margin-top: 30px !important
    }
}