#hero {
    padding-top: 250px;
}

#servicios {
    margin-top: 300px;
    padding-top: 70px;
}

#sobre-nosotros {
    margin-top: 50px;
    padding-top: 130px;
}

#tarifas {
    margin-top: 50px;
    padding-top: 130px;
}

@media screen and (max-width: 991px) {

    #hero {
        padding-top: 130px;
    }

    #servicios {
        margin-top: 210px;
        padding-top: 40px;
    }

    #sobre-nosotros {
        margin-top: 30px;
        padding-top: 100px;
    }
}