#servicios {
    margin-top: 3px;
    padding-top: 70px;
}

#sobre-nosotros {
    margin-top: 50px;
    padding-top: 130px;
}

#tarifas {
    margin-top: 50px;
    padding-top: 130px;
}

#contacto {
    margin-top: 50px;
    padding-top: 130px;
}

@media screen and (max-width: 991px) {

    #servicios {
        margin-top: 10px;
        padding-top: 30px;
    }

    #sobre-nosotros,
    #tarifas {
        margin-top: 10px;
        padding-top: 80px;
    }

    #contacto {
        padding-top: 50px;
    }
}